# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.bak
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# Various
phpunit.xml
php-cs-fixer.phar
composer.phar
composer.lock

# Folders to ignore
/vendor/
/bin/
