# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.bak
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.buildpath
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# Various
phpunit.xml
php-cs-fixer.phar
composer.phar

# Folders to ignore
/vendor/
/bin/

